" Run pathogen.
execute pathogen#infect()

" swap files (.swp) in a common location
" " // means use the file's full path
set dir=~/.vim/_swap//

" backup files (~) in a common location if possible
" set backup
set backupdir=~/.vim/_backup/,~/tmp,.
"
" " turn on undo files, put them in a common location
" set undofile
set undodir=~/.vim/_undo/

syntax on
filetype plugin indent on

set exrc
set secure

set tabstop=4
set softtabstop=4
set shiftwidth=4
set noexpandtab
set number

set colorcolumn=110
highlight ColorColumn ctermbg=darkgray

set completeopt+=longest
autocmd CompleteDone * pclose

if has("autocmd")
	au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
endif
set viminfo='10,\"100,:20,%,n~/.viminfo

set backspace=indent,eol,start

colorscheme one

autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif

nmap <F8> :TagbarToggle<CR>
" disable easytags autoupdate
let g:easytags_auto_update = 0

" Disable AutoComplPop.
"let g:acp_enableAtStartup = 0
" Use neocomplete.
"let g:neocomplete#enable_at_startup = 1
" Use smartcase.
"let g:neocomplete#enable_smart_case = 1
" Set minimum syntax keyword length.
"let g:neocomplete#sources#syntax#min_keyword_length = 3
